<div class="outter">
<div class="container">
  <h1>Book Details</h1>
  <form >
    <div class="row">
      <div class="col-md-6">
        <h2>Title</h2>
        <input type="text" name="title" class="form-control" required>
        <h2>Author</h2>
        <input type="text" name="author"  class="form-control" required>
        <h2>ISBN</h2>
        <input type="text" name="isbn" class="form-control" required>
        <h2>Publisher</h2>
        <input type="text" name="publisher"  class="form-control" required>
        <h2>Publication Date</h2>
        <input type="date" name="publicationDate" class="form-control" required>
        <h2>Description</h2>
        <textarea name="description"  class="form-control" required></textarea>
        <h2>Genres</h2>
        <input type="text" name="genre"  class="form-control">
       
      </div>
      <div class="col-md-6">
        <h2>Price</h2>
        <input type="text" name="price" class="form-control" required>
        <h2>Language</h2>
        <input type="text" name="language"  class="form-control" required>
        <h2>Format</h2>
        <input type="text" name="format" class="form-control" required>
        <h2>Number of Pages</h2>
        <input type="text" name="numberOfPages"  class="form-control" required>
        <h2>Cover Image</h2>
        <input type="file" name="coverImageUrl"  class="form-control" required>
        <h2>File URL</h2>
        <input type="file" name="fileUrl"  class="form-control" required>
      </div>
    </div>
    <div class="row mt-4" id="upper">
      <div class="col">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>