h2 {
    text-align: center;
    margin-top: 5rem;
    color: azure;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    color: rgb(15, 15, 15);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .container{
    
    height: 30rem;
    width: 30rem;
    border: 1px solid white;
    background-color:#10a37f;

  }
.outter-container{
    padding-top: 5rem;
  }
a{
  color: black;
}